<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <!render partials>
            {{>header}}
            <h1>H E L P</h1>
            <p>{{helpText}}</p>
        </div>




        <!render footer now>
        {{>footer}}
    </body>
</html>